*~
*.gcda
*.o
.deps
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
Makefile
sigar_port
sigar_port.exe
/CMakeFiles/
/CTestTestfile.cmake
/Testing/
/cmake_install.cmake
/sigar_port.exe.embed.manifest
/sigar_port.exe.embed.manifest.res
/sigar_port.exe.intermediate.manifest
/sigar_port.exe.resource.txt
/sigar_port.ilk
/sigar_port.pdb
